/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* FUNDO FULL SCREEN */
.landing {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* MENU SUPERIOR */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #080b8c, #1c1e9a);
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.buy-btn-top {
  background: #2c2cff;
  padding: 20px 33px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.buy-btn-top:hover {
  background: #1a1ad1;
}

/* CONTEÚDO PRINCIPAL */
.main-content {
  margin-top: 40px;
  padding-left: 80px;
}

/* QUADRO DO VÍDEO */
.video-box {
  width: 800px;
  height: 500px;
  background: #081489;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #2438c4;
  margin-left: 50px;
  margin-right: 80px;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* TEXTO INFERIOR */
.bottom-text {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-top: 70px;
  font-weight: bold;
  text-shadow: 3px 3px 10px black;
  width: 1000px;
  margin-left: 28px;
  margin-right: 120px;
}
